<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:rim="http://www.blackberry.com/ns/widgets"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-gradle3"
		version="0.0.1">
	<name>ApkInfo</name>
	<description>A cordova plugin, a JS version of ApkInfo SDK</description>
	<license>MIT</license>
	<keywords>cordova,gradle,3</keywords>

	<engines>
		<engine name="cordova" version=">=3.5.0" />
	</engines>
	<!-- android -->
	<platform name="android">
		<source-file src="src/android/build-extras.gradle" target-dir="./" />
		<framework src="src/android/gradle3.gradle" custom="true" type="gradleReference" />

	</platform>
</plugin>
